<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="copyright text-muted small">Copyright &copy; Too Drunk To Code 2017. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
