---
title: Too Drunk To Code
---

<a name="about"></a>
<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Too <span class="black">Drunk</span> To Code</h1>
          <hr class="intro-divider">
          <h3>A different event to talk about something more than code</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.intro-header -->

<a name="manifesto"></a>
<div class="manifesto">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Manifesto</h2>
        <span class="divider"></span>
      </div>
      <div class="col-lg-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse accumsan viverra dolor a porta. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec quis rutrum erat. Sed non maximus sem. Nunc scelerisque vestibulum tempor. Phasellus est quam, elementum sit amet mollis in, tempor at ex. Mauris id mollis neque. Vestibulum porta dolor dui, eu commodo mauris ultricies vel. Sed leo urna, vulputate et lorem in, eleifend auctor purus. Phasellus molestie ornare ante vel pharetra. Cras molestie ligula est, maximus blandit justo tincidunt non. Integer eu velit vitae risus laoreet porttitor. Vestibulum porttitor egestas ante vel facilisis. Maecenas id odio finibus, tempus magna et, sodales massa.</p>

        <p>Duis rutrum odio vitae ipsum vehicula fringilla. Donec eget fermentum neque. Integer luctus tempus lacus, a viverra risus ultricies sed. Integer faucibus hendrerit nunc, ac pulvinar ex pellentesque ut. Etiam et lacinia purus. Nullam nec interdum elit, non luctus orci. Sed quis tincidunt lectus, vulputate tempor odio. In sagittis dignissim enim, in euismod magna maximus quis. Duis cursus orci et risus ullamcorper, quis auctor eros sollicitudin. Pellentesque sollicitudin quam metus, sit amet porttitor metus lacinia non. Fusce luctus vulputate sapien, in vulputate tellus egestas quis. Pellentesque et libero at mi efficitur luctus. Nulla venenatis facilisis nibh, nec bibendum ipsum viverra id. Mauris vel risus orci.</p>

        <p>Nam ut efficitur libero. Maecenas quis efficitur diam, quis venenatis nunc. Donec egestas facilisis dignissim. In hac habitasse platea dictumst. Cras tincidunt felis eget erat suscipit scelerisque. Sed euismod id dolor ut dapibus. Praesent vulputate fringilla porttitor. Maecenas nisl risus, accumsan a ornare non, pretium at ex. Maecenas non elit nisl. Maecenas diam purus, posuere non gravida eu, interdum vel enim. Donec id tincidunt nulla. Cras gravida turpis vitae dictum tempus. Maecenas laoreet lacus eget neque lacinia pharetra. Suspendisse sed semper augue. Vivamus ut faucibus augue, nec tempus sem. Donec vitae pretium odio.</p>

        <p>Nam at pharetra ipsum, a pharetra leo. Nunc non lorem blandit diam accumsan viverra vel sit amet nunc. In ac lacus quis orci lobortis suscipit. Donec fringilla leo quam, nec ultricies quam interdum vitae. Duis non ante aliquet, pretium dolor sed, sagittis tortor. Mauris molestie hendrerit erat, feugiat aliquam arcu tincidunt nec. Donec nec vehicula lorem.</p>

        <p>Donec vestibulum nunc sit amet facilisis vehicula. In venenatis scelerisque ante non rhoncus. Aliquam fringilla a est tincidunt ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus luctus sapien, tristique tincidunt erat commodo sed. Integer hendrerit, mi at molestie tincidunt, velit augue bibendum dui, in aliquet sem nisl nec elit. Nullam a nulla at arcu varius vehicula. Quisque sed suscipit leo. Etiam nec urna ex.</p>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.intro-header -->

<a  name="buy"></a>
<div class="banner">
  <div class="container">
    <h2>Buy tickets</h2>
    <p>
      <b>Tickets are sold out!</b> But we hope to see you next year
    </p>
  </div>
  <!-- /.container -->
</div>
<!-- /.banner -->
